*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
	background-color: #252e30;
	font-family: sans-serif;
}

h1 {
	font-size: 30px;
	color: black;
	text-shadow: 0 0 3px green, 0 0 5px #72DBF2;
	text-align: center;
}

h2 {
	font-size: 30px;
	color: #72DBF2;
	text-shadow: 0 0 3px #000000, 0 0 5px #000000;
	text-align: center;
}

h3 {
	font-size: 15px;
	color: #72DBF2;
	text-shadow: 0 0 3px #000000, 0 0 5px #000000;
}

p {
	font-size: 12px;
	color: #72DBF2;
}

.head {
	background-color: black;
	text-align: center;
}

header {
	border-bottom: solid .5px #fd8f3b;
}

navButton {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #1b1b1b;
	display: table;
	width: 100%;
	text-align: left;
}

a:link, a:visited {
	background-color: #1b1b1b;
	color: #72DBF2;
	padding: 14px 25px;
	text-align: left;
	text-decoration: none;
	display: inline-block;
	font-size: 20px;
}
  
a:hover, a:active {
	background-color: black;
}

.search {
	background-color: #1b1b1b;
	float: right;
}

.button {
	background-color: #1b1b1b;
  	border: none;
  	color: #72DBF2;
  	margin-right: 0px;
  	text-align: center;
  	display: inline-block;
  	font-size: 20px;
	padding: 14px 10px;
}

.bar {
	margin-top: 14px;
	margin-right: 10px;
	color: white;
	text-align: left;
	border: .5px solid #60566d;
	border-radius: 3px;
}

.bar:hover {
	background-color: rgb(129, 129, 129);
}

.button:hover {
	background-color: black;
}

.coin {
	width: 90%;
	background-color: black;
	text-align: center;
	float: center;
	margin-left: auto;
	margin-right: auto;
	border: .75px solid #60566d;
	border-radius: 10px;
	padding-top: 15px;
	padding-bottom: 15px;
}

table {
	width: 20%;
	text-align: center;
	color: #72DBF2;
	margin-left: 1%;
	margin-right: 60%;
	margin-bottom: 20px;
	border-collapse: collapse;
	/*border:.5px solid white; < uncomment to view table boundry*/
}

th {
	text-decoration: underline;
	
}

th, td {
	background-color: black;
	min-width: 125px;
	height: 30px;
}

.info {
	background-color: black;
	text-align: left;
	margin-top: 5px;
	margin-left: 1%;
}

footer {
	position: relative;
	width: 100%;
	bottom: -100px;
	background-color: black;
}
